// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';
$dark: #252422;
$secondary: #403D39;
$light: #CCC5B9;
$primary:#f25c54;

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';
