// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';
$dark: #ffffff;
$secondary: #f2f2f2;
$light: #e91e63;
$primary:#2b2e4a;
$danger: #ba181b;


// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";

